@import "tailwindcss"; 
:root { --font-sans: "Inter", sans-serif; --color-bgsoft: #f4f4f8; 
} 
body { 
background: var(--color-bgsoft); 
font-family: var(--font-sans); 
} 
.glass-effect { 
background: rgba(255, 255, 255, 0.65); 
backdrop-filter: blur(24px); 
} 
.hide-scrollbar::-webkit-scrollbar { 
display: none; 
}